In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:

# Clean data by removing NaN values
sent_df_clean = sent_df.dropna(subset=['OBS_VALUE'])
withdrew_df_clean = withdrew_df.dropna(subset=['OBS_VALUE'])

print(f' Clean Sent Money Records: {len(sent_df_clean)}')
print(f' Clean Withdrew Money Records: {len(withdrew_df_clean)}')


print('')
print('GLOBAL STATISTICS')
print('=' * 30)

sent_df.duplicated().sum()
withdrew_df.duplicated().sum()

# Get unique countries
all_countries = sorted(list(set(sent_df_clean['REF_AREA'].unique()) | set(withdrew_df_clean['REF_AREA'].unique())))
print(f'Total Countries Analyzed: {len(all_countries)}')

-# Calculate global averages
global_sent_avg = sent_df_clean['OBS_VALUE'].mean()
global_withdrew_avg = withdrew_df_clean['OBS_VALUE'].mean()
print(f' Global Average - Sent Money: {global_sent_avg:.2f}%')
print(f' Global Average - Withdrew Money: {global_withdrew_avg:.2f}%')

# === COUNTRY-BY-COUNTRY ANALYSIS ===
print('\n COUNTRY-BY-COUNTRY ANALYSIS')
print('=' * 40)


# Create comprehensive country comparison
country_stats = []

for country in all_countries:
    sent_data = sent_df_clean[sent_df_clean['REF_AREA'] == country]
    withdrew_data = withdrew_df_clean[withdrew_df_clean['REF_AREA'] == country]
    
    if len(sent_data) > 0 and len(withdrew_data) > 0:
        sent_mean = sent_data['OBS_VALUE'].mean()
        withdrew_mean = withdrew_data['OBS_VALUE'].mean()
        sent_std = sent_data['OBS_VALUE'].std()
        withdrew_std = withdrew_data['OBS_VALUE'].std()
        
        # Calculate adoption gap (sent - withdrew)
        adoption_gap = sent_mean - withdrew_mean
        
        country_stats.append({
            'Country_Code': country,
            'Country_Name': sent_data['REF_AREA_LABEL'].iloc[0] if len(sent_data) > 0 else 'Unknown',
            'Sent_Money_Mean': sent_mean,
            'Withdrew_Money_Mean': withdrew_mean,
            'Adoption_Gap': adoption_gap,
            'Sent_Std': sent_std,
            'Withdrew_Std': withdrew_std,
            'Total_Adoption': (sent_mean + withdrew_mean) / 2
        })

# Convert to DataFrame
country_df = pd.DataFrame(country_stats)
country_df = country_df.sort_values('Total_Adoption', ascending=False)

print(f' Countries with complete data: {len(country_df)}')
print('\n TOP 10 COUNTRIES BY TOTAL MOBILE MONEY ADOPTION:')
print(country_df[['Country_Name', 'Total_Adoption', 'Adoption_Gap']].head(10))

# === REGIONAL ANALYSIS ===
print('\n REGIONAL ANALYSIS')
print('=' * 25)

# Define regions based on country codes (simplified)
def get_region(country_code):
    if country_code in ['BEN', 'BFA', 'CIV', 'CMR', 'TCD', 'COD', 'COG', 'COM', 'ETH', 'GHA', 'GIN', 'KEN', 'MDG', 'MLI', 'MOZ', 'NER', 'NGA', 'RWA', 'SEN', 'SLE', 'TGO', 'UGA', 'ZAF', 'ZWE']:
        return 'Sub-Saharan Africa'
    elif country_code in ['BGD', 'KHM', 'IDN', 'LAO', 'MMR', 'PHL', 'THA', 'VNM']:
        return 'South & Southeast Asia'
    elif country_code in ['BWA', 'NAM']:
        return 'Southern Africa'
    elif country_code in ['HTI', 'JAM']:
        return 'Caribbean'
    else:
        return 'Other'

country_df['Region'] = country_df['Country_Code'].apply(get_region)

# Regional statistics
regional_stats = country_df.groupby('Region').agg({
    'Total_Adoption': ['mean', 'std', 'count'],
    'Adoption_Gap': 'mean'
}).round(2)

print('\n REGIONAL BREAKDOWN:')
print(regional_stats)

In [28]:
# DATA LOADING AND PREPARATION 
print('\n Loading and preparing datasets...')
sent_df = pd.read_csv("C:/Users/202213306/Desktop/3rd Year (Sec)/DATA ANALYSIS AND VISUALIZATION/DATA ANALYSIS AND VISUALIZATION(Assignment)/WB_FINDEX_FIN13BM.csv")
withdrew_df = pd.read_csv("C:/Users/202213306/Desktop/3rd Year (Sec)/DATA ANALYSIS AND VISUALIZATION/DATA ANALYSIS AND VISUALIZATION(Assignment)/WB_FINDEX_FIN13CM.csv")

sent_df

 Loading and preparing datasets...

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
514,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,SSA,Sub-Saharan Africa (excluding high income),WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [13]:
withdrew_df

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
514,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,SSA,Sub-Saharan Africa (excluding high income),WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,O,Missing value,PU,Public

In [38]:
# Clean data by removing NaN values
sent_df_clean = sent_df.dropna(subset=['OBS_VALUE'])
withdrew_df_clean = withdrew_df.dropna(subset=['OBS_VALUE'])

In [39]:
sent_df_clean

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
514,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,SSA,Sub-Saharan Africa (excluding high income),WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [40]:
withdrew_df_clean

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TZA,Tanzania,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

0      False
1      False
2      False
3      False
4      False
       ...
510    False
511    False
512    False
513    False
514    False
Length: 515, dtype: bool

In [15]:
sent_df.shape

(515, 37)

In [16]:
withdrew_df.shape

(515, 37)

In [17]:
# Clean data by removing NaN values
sent_df_clean = sent_df.dropna(subset=['OBS_VALUE'])
withdrew_df_clean = withdrew_df.dropna(subset=['OBS_VALUE'])

In [18]:
sent_df_clean

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
514,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,SSA,Sub-Saharan Africa (excluding high income),WB_FINDEX_FIN13BM,"Sent money from a mobile money account, monthly",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [19]:
withdrew_df_clean

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BGD,Bangladesh,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BEN,Benin,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BWA,Botswana,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,BFA,Burkina Faso,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,KHM,Cambodia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TZA,Tanzania,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
510,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,TGO,Togo,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
511,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,UGA,Uganda,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
512,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZMB,Zambia,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public
513,datastructure,WB.DATA360:DS_DATA360(1.2),I,A3,Triennial,ZWE,Zimbabwe,WB_FINDEX_FIN13CM,"Took out money from a mobile money account, mo...",_T,...,0,Units,RATIO,Ratio,602,CCYY,A,Normal value,PU,Public

In [31]:
sent_df.duplicated().sum()
withdrew_df.duplicated().sum()

# Get unique countries
all_countries = sorted(list(set(sent_df_clean['REF_AREA'].unique()) | set(withdrew_df_clean['REF_AREA'].unique())))
all_countries

['BEN',
 'BFA',
 'BGD',
 'BWA',
 'CIV',
 'CMR',
 'COD',
 'COG',
 'COM',
 'ETH',
 'GAB',
 'GHA',
 'GIN',
 'GMB',
 'KEN',
 'KHM',
 'LBR',
 'LSO',
 'MDG',
 'MLI',
 'MOZ',
 'MWI',
 'NAM',
 'NER',
 'NGA',
 'PAK',
 'SEN',
 'SLE',
 'SSA',
 'SWZ',
 'TCD',
 'TGO',
 'TZA',
 'UGA',
 'ZAF',
 'ZMB',
 'ZWE']

In [32]:
global_sent_avg = sent_df_clean['OBS_VALUE'].mean()
global_withdrew_avg = withdrew_df_clean['OBS_VALUE'].mean()

In [33]:
global_sent_avg

np.float64(16.120515069576324)

In [34]:
global_withdrew_avg

np.float64(16.13086469495027)

In [35]:
country_df

,Country_Code,Country_Name,Sent_Money_Mean,Withdrew_Money_Mean,Adoption_Gap,Sent_Std,Withdrew_Std,Total_Adoption,Region
17,LSO,Lesotho,26.267483,27.108911,-0.841428,7.138384,6.623885,26.688197,Other
35,ZMB,Zambia,26.797120,24.497051,2.300069,4.140713,3.380546,25.647085,Other
29,SWZ,Eswatini,19.955210,20.363831,-0.408621,6.914581,7.102198,20.159520,Other
22,NAM,Namibia,20.453276,19.813234,0.640041,8.124100,7.040284,20.133255,Southern Africa
26,SEN,Senegal,22.602271,17.595467,5.006804,4.950064,4.070799,20.098869,Sub-Saharan Africa
33,UGA,Uganda,20.102361,19.772433,0.329928,3.206329,4.786429,19.937397,Sub-Saharan Africa
14,KEN,Kenya,20.874031,18.933732,1.940299,2.541821,1.863028,19.903881,Sub-Saharan Africa
3,BWA,Botswana,20.506559,18.241814,2.264745,7.495510,6.382249,19.374186,Southern Africa
19,MLI,Mali,17.240209,19.392497,-2.152288,6.385796,6.400750,18.316353,Sub-Saharan Africa
11,GHA,Ghana,19.669841,14.403486,5.266355,2.453148,1.804101,17.036663,Sub-Saharan Africa
10,GAB,Gabon,17.045471,16.940829,0.104642,4.173825,3.270398,16.993150,Other
21,MWI,Malawi,14.883919,16.519734,-1.635815,5.175183,6.290488,15.701827,Other
20,MOZ,Mozambique,16.649236,13.246033,3.403202,7.085379,6.197427,14.947634,Sub-Saharan Africa
0,BEN,Benin,12.014316,16.280457,-4.266141,4.455091,5.413636,14.147387,Sub-Saharan Africa
36,ZWE,Zimbabwe,12.857977,14.043298,-1.185320,6.116353,6.121480,13.450638,Sub-Saharan Africa
31,TGO,Togo,11.423920,15.145780,-3.721860,5.405699,5.576722,13.284850,Sub-Saharan Africa
32,TZA,Tanzania,12.937619,13.500193,-0.562575,4.231221,4.210703,13.218906,Other
4,CIV,Cote d'Ivoire,12.023557,13.851609,-1.828052,4.694736,4.310681,12.937583,Sub-Saharan Africa
5,CMR,Cameroon,13.293350,12.440052,0.853298,4.854154,4.662407,12.866701,Sub-Saharan Africa
16,LBR,Liberia,11.158575,13.216684,-2.058109,4.149060,4.825225,12.187630,Other
1,BFA,Burkina Faso,12.289291,11.377483,0.911808,4.973838,4.009134,11.833387,Sub-Saharan Africa
7,COG,"Congo, Rep.",9.642036,11.428864,-1.786828,NaN,3.725313,10.535450,Sub-Saharan Africa
27,SLE,Sierra Leone,11.896469,8.308509,3.587959,6.410987,NaN,10.102489,Sub-Saharan Africa
28,SSA,Sub-Saharan Africa (excluding high income),10.196532,9.755269,0.441262,2.317385,NaN,9.975901,Other
25,PAK,Pakistan,8.377384,8.458220,-0.080836,NaN,NaN,8.417802,Other
34,ZAF,South Africa,8.866502,7.968460,0.898042,NaN,NaN,8.417481,Sub-Saharan Africa
6,COD,"Congo, Dem. Rep.",8.527832,8.231409,0.296423,NaN,NaN,8.379620,Sub-Saharan Africa
24,NGA,Nigeria,7.497454,6.715938,0.781516,NaN,NaN,7.106696,Sub-Saharan Africa
13,GMB,"Gambia, The",7.620636,6.243973,1.376663,NaN,NaN,6.932304,Other
18,MDG,Madagascar,5.593061,5.857038,-0.263977,NaN,NaN,5.725049,Sub-Saharan Africa
12,GIN,Guinea,4.581125,5.366041,-0.784916,NaN,NaN,4.973583,Sub-Saharan Africa
2,BGD,Bangladesh,3.411480,5.077890,-1.666410,NaN,NaN,4.244685,South & Southeast Asia
15,KHM,Cambodia,3.486432,2.925244,0.561188,NaN,NaN,3.205838,South & Southeast Asia
8,COM,Comoros,3.089393,2.968120,0.121273,NaN,NaN,3.028756,Sub-Saharan Africa
9,ETH,Ethiopia,2.464183,2.358715,0.105468,NaN,NaN,2.411449,Sub-Saharan Africa
30,TCD,Chad,2.396875,1.590663,0.806212,NaN,NaN,1.993769,Sub-Saharan Africa
23,NER,Niger,1.127031,1.044246,0.082785,NaN,NaN,1.085638,Sub-Saharan Africa

In [45]:
# Create comprehensive country comparison
country_stats = []

for country in all_countries:
    sent_data = sent_df_clean[sent_df_clean['REF_AREA'] == country]
    withdrew_data = withdrew_df_clean[withdrew_df_clean['REF_AREA'] == country]
    
    if len(sent_data) > 0 and len(withdrew_data) > 0:
        sent_mean = sent_data['OBS_VALUE'].mean()
        withdrew_mean = withdrew_data['OBS_VALUE'].mean()
        sent_std = sent_data['OBS_VALUE'].std()
        withdrew_std = withdrew_data['OBS_VALUE'].std()
        
        # Calculate adoption gap (sent - withdrew)
        adoption_gap = sent_mean - withdrew_mean
        
        country_stats.append({
            'Country_Code': country,
            'Country_Name': sent_data['REF_AREA_LABEL'].iloc[0] if len(sent_data) > 0 else 'Unknown',
            'Sent_Money_Mean': sent_mean,
            'Withdrew_Money_Mean': withdrew_mean,
            'Adoption_Gap': adoption_gap,
            'Sent_Std': sent_std,
            'Withdrew_Std': withdrew_std,
            'Total_Adoption': (sent_mean + withdrew_mean) / 2
        })

In [46]:
country_stats

[{'Country_Code': 'BEN',
  'Country_Name': 'Benin',
  'Sent_Money_Mean': np.float64(12.014316066369483),
  'Withdrew_Money_Mean': np.float64(16.280457492746688),
  'Adoption_Gap': np.float64(-4.266141426377205),
  'Sent_Std': 4.455090969446131,
  'Withdrew_Std': 5.413635505694514,
  'Total_Adoption': np.float64(14.147386779558087)},
 {'Country_Code': 'BFA',
  'Country_Name': 'Burkina Faso',
  'Sent_Money_Mean': np.float64(12.289291327812526),
  'Withdrew_Money_Mean': np.float64(11.37748332105106),
  'Adoption_Gap': np.float64(0.9118080067614667),
  'Sent_Std': 4.973838257550602,
  'Withdrew_Std': 4.009134147522028,
  'Total_Adoption': np.float64(11.833387324431794)},
 {'Country_Code': 'BGD',
  'Country_Name': 'Bangladesh',
  'Sent_Money_Mean': np.float64(3.4114798032430103),
  'Withdrew_Money_Mean': np.float64(5.077889525485721),
  'Adoption_Gap': np.float64(-1.6664097222427103),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(4.244684664364366)},
 {'Country_Code': 'BWA',
  'Country_Name': 'Botswana',
  'Sent_Money_Mean': np.float64(20.5065587779229),
  'Withdrew_Money_Mean': np.float64(18.24181355551837),
  'Adoption_Gap': np.float64(2.2647452224045317),
  'Sent_Std': 7.495509740769983,
  'Withdrew_Std': 6.382248871568101,
  'Total_Adoption': np.float64(19.374186166720634)},
 {'Country_Code': 'CIV',
  'Country_Name': "Cote d'Ivoire",
  'Sent_Money_Mean': np.float64(12.023557362941105),
  'Withdrew_Money_Mean': np.float64(13.851608885701092),
  'Adoption_Gap': np.float64(-1.8280515227599867),
  'Sent_Std': 4.694736481107235,
  'Withdrew_Std': 4.3106805774795065,
  'Total_Adoption': np.float64(12.937583124321097)},
 {'Country_Code': 'CMR',
  'Country_Name': 'Cameroon',
  'Sent_Money_Mean': np.float64(13.29334951135227),
  'Withdrew_Money_Mean': np.float64(12.440051705936591),
  'Adoption_Gap': np.float64(0.8532978054156786),
  'Sent_Std': 4.854154405173223,
  'Withdrew_Std': 4.6624066133049125,
  'Total_Adoption': np.float64(12.86670060864443)},
 {'Country_Code': 'COD',
  'Country_Name': 'Congo, Dem. Rep.',
  'Sent_Money_Mean': np.float64(8.52783193347524),
  'Withdrew_Money_Mean': np.float64(8.23140895964081),
  'Adoption_Gap': np.float64(0.2964229738344297),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(8.379620446558025)},
 {'Country_Code': 'COG',
  'Country_Name': 'Congo, Rep.',
  'Sent_Money_Mean': np.float64(9.64203605506231),
  'Withdrew_Money_Mean': np.float64(11.428864426844024),
  'Adoption_Gap': np.float64(-1.7868283717817146),
  'Sent_Std': nan,
  'Withdrew_Std': 3.7253131071263756,
  'Total_Adoption': np.float64(10.535450240953168)},
 {'Country_Code': 'COM',
  'Country_Name': 'Comoros',
  'Sent_Money_Mean': np.float64(3.08939272626347),
  'Withdrew_Money_Mean': np.float64(2.9681200796755203),
  'Adoption_Gap': np.float64(0.12127264658794967),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(3.028756402969495)},
 {'Country_Code': 'ETH',
  'Country_Name': 'Ethiopia',
  'Sent_Money_Mean': np.float64(2.46418294943355),
  'Withdrew_Money_Mean': np.float64(2.35871543520421),
  'Adoption_Gap': np.float64(0.10546751422933998),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(2.41144919231888)},
 {'Country_Code': 'GAB',
  'Country_Name': 'Gabon',
  'Sent_Money_Mean': np.float64(17.045470896533423),
  'Withdrew_Money_Mean': np.float64(16.940829235985202),
  'Adoption_Gap': np.float64(0.10464166054822144),
  'Sent_Std': 4.173824578292989,
  'Withdrew_Std': 3.2703977149142838,
  'Total_Adoption': np.float64(16.99315006625931)},
 {'Country_Code': 'GHA',
  'Country_Name': 'Ghana',
  'Sent_Money_Mean': np.float64(19.66984085318159),
  'Withdrew_Money_Mean': np.float64(14.40348590574562),
  'Adoption_Gap': np.float64(5.266354947435969),
  'Sent_Std': 2.4531475308784256,
  'Withdrew_Std': 1.8041013245169013,
  'Total_Adoption': np.float64(17.036663379463604)},
 {'Country_Code': 'GIN',
  'Country_Name': 'Guinea',
  'Sent_Money_Mean': np.float64(4.58112532319279),
  'Withdrew_Money_Mean': np.float64(5.36604100110765),
  'Adoption_Gap': np.float64(-0.78491567791486),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(4.97358316215022)},
 {'Country_Code': 'GMB',
  'Country_Name': 'Gambia, The',
  'Sent_Money_Mean': np.float64(7.62063607092716),
  'Withdrew_Money_Mean': np.float64(6.24397265577238),
  'Adoption_Gap': np.float64(1.3766634151547805),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(6.93230436334977)},
 {'Country_Code': 'KEN',
  'Country_Name': 'Kenya',
  'Sent_Money_Mean': np.float64(20.874030982115325),
  'Withdrew_Money_Mean': np.float64(18.933731562166958),
  'Adoption_Gap': np.float64(1.9402994199483672),
  'Sent_Std': 2.54182073929624,
  'Withdrew_Std': 1.8630282898862434,
  'Total_Adoption': np.float64(19.903881272141142)},
 {'Country_Code': 'KHM',
  'Country_Name': 'Cambodia',
  'Sent_Money_Mean': np.float64(3.48643168521935),
  'Withdrew_Money_Mean': np.float64(2.92524370036854),
  'Adoption_Gap': np.float64(0.5611879848508101),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(3.205837692793945)},
 {'Country_Code': 'LBR',
  'Country_Name': 'Liberia',
  'Sent_Money_Mean': np.float64(11.158575344394237),
  'Withdrew_Money_Mean': np.float64(13.216684226128104),
  'Adoption_Gap': np.float64(-2.058108881733867),
  'Sent_Std': 4.149059848938951,
  'Withdrew_Std': 4.825224856200645,
  'Total_Adoption': np.float64(12.18762978526117)},
 {'Country_Code': 'LSO',
  'Country_Name': 'Lesotho',
  'Sent_Money_Mean': np.float64(26.267482812027776),
  'Withdrew_Money_Mean': np.float64(27.108911219243154),
  'Adoption_Gap': np.float64(-0.8414284072153784),
  'Sent_Std': 7.13838416367783,
  'Withdrew_Std': 6.623885256900668,
  'Total_Adoption': np.float64(26.688197015635467)},
 {'Country_Code': 'MDG',
  'Country_Name': 'Madagascar',
  'Sent_Money_Mean': np.float64(5.59306068941384),
  'Withdrew_Money_Mean': np.float64(5.85703796086192),
  'Adoption_Gap': np.float64(-0.2639772714480797),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(5.72504932513788)},
 {'Country_Code': 'MLI',
  'Country_Name': 'Mali',
  'Sent_Money_Mean': np.float64(17.240208683986843),
  'Withdrew_Money_Mean': np.float64(19.392496845930246),
  'Adoption_Gap': np.float64(-2.152288161943403),
  'Sent_Std': 6.385795532411207,
  'Withdrew_Std': 6.4007500060569855,
  'Total_Adoption': np.float64(18.316352764958545)},
 {'Country_Code': 'MOZ',
  'Country_Name': 'Mozambique',
  'Sent_Money_Mean': np.float64(16.64923553615312),
  'Withdrew_Money_Mean': np.float64(13.24603314610732),
  'Adoption_Gap': np.float64(3.4032023900458004),
  'Sent_Std': 7.085378595370927,
  'Withdrew_Std': 6.197426674573446,
  'Total_Adoption': np.float64(14.947634341130222)},
 {'Country_Code': 'MWI',
  'Country_Name': 'Malawi',
  'Sent_Money_Mean': np.float64(14.883919040207171),
  'Withdrew_Money_Mean': np.float64(16.51973429451709),
  'Adoption_Gap': np.float64(-1.635815254309918),
  'Sent_Std': 5.175183345358619,
  'Withdrew_Std': 6.290488427678124,
  'Total_Adoption': np.float64(15.70182666736213)},
 {'Country_Code': 'NAM',
  'Country_Name': 'Namibia',
  'Sent_Money_Mean': np.float64(20.453275773723323),
  'Withdrew_Money_Mean': np.float64(19.813234308578448),
  'Adoption_Gap': np.float64(0.6400414651448756),
  'Sent_Std': 8.124099700891126,
  'Withdrew_Std': 7.040284067335773,
  'Total_Adoption': np.float64(20.133255041150885)},
 {'Country_Code': 'NER',
  'Country_Name': 'Niger',
  'Sent_Money_Mean': np.float64(1.12703119458485),
  'Withdrew_Money_Mean': np.float64(1.04424576732383),
  'Adoption_Gap': np.float64(0.08278542726102),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(1.0856384809543398)},
 {'Country_Code': 'NGA',
  'Country_Name': 'Nigeria',
  'Sent_Money_Mean': np.float64(7.49745396548643),
  'Withdrew_Money_Mean': np.float64(6.7159379257483405),
  'Adoption_Gap': np.float64(0.7815160397380891),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(7.1066959456173855)},
 {'Country_Code': 'PAK',
  'Country_Name': 'Pakistan',
  'Sent_Money_Mean': np.float64(8.3773838680387),
  'Withdrew_Money_Mean': np.float64(8.45822036210941),
  'Adoption_Gap': np.float64(-0.08083649407070936),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(8.417802115074055)},
 {'Country_Code': 'SEN',
  'Country_Name': 'Senegal',
  'Sent_Money_Mean': np.float64(22.602270860146735),
  'Withdrew_Money_Mean': np.float64(17.595466994824147),
  'Adoption_Gap': np.float64(5.006803865322588),
  'Sent_Std': 4.950063877602671,
  'Withdrew_Std': 4.070798580563945,
  'Total_Adoption': np.float64(20.09886892748544)},
 {'Country_Code': 'SLE',
  'Country_Name': 'Sierra Leone',
  'Sent_Money_Mean': np.float64(11.896468536646177),
  'Withdrew_Money_Mean': np.float64(8.30850937270242),
  'Adoption_Gap': np.float64(3.587959163943756),
  'Sent_Std': 6.410987018121601,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(10.1024889546743)},
 {'Country_Code': 'SSA',
  'Country_Name': 'Sub-Saharan Africa (excluding high income)',
  'Sent_Money_Mean': np.float64(10.196531772725734),
  'Withdrew_Money_Mean': np.float64(9.75526948049771),
  'Adoption_Gap': np.float64(0.44126229222802493),
  'Sent_Std': 2.317385263835161,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(9.975900626611722)},
 {'Country_Code': 'SWZ',
  'Country_Name': 'Eswatini',
  'Sent_Money_Mean': np.float64(19.955209811495457),
  'Withdrew_Money_Mean': np.float64(20.363830725010924),
  'Adoption_Gap': np.float64(-0.4086209135154668),
  'Sent_Std': 6.914581356370967,
  'Withdrew_Std': 7.10219816537677,
  'Total_Adoption': np.float64(20.15952026825319)},
 {'Country_Code': 'TCD',
  'Country_Name': 'Chad',
  'Sent_Money_Mean': np.float64(2.39687494691602),
  'Withdrew_Money_Mean': np.float64(1.59066284511846),
  'Adoption_Gap': np.float64(0.8062121017975603),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(1.9937688960172402)},
 {'Country_Code': 'TGO',
  'Country_Name': 'Togo',
  'Sent_Money_Mean': np.float64(11.423919788546174),
  'Withdrew_Money_Mean': np.float64(15.14577964710636),
  'Adoption_Gap': np.float64(-3.7218598585601868),
  'Sent_Std': 5.405698582810189,
  'Withdrew_Std': 5.576722499118437,
  'Total_Adoption': np.float64(13.284849717826267)},
 {'Country_Code': 'TZA',
  'Country_Name': 'Tanzania',
  'Sent_Money_Mean': np.float64(12.937618829848985),
  'Withdrew_Money_Mean': np.float64(13.500193434832031),
  'Adoption_Gap': np.float64(-0.5625746049830465),
  'Sent_Std': 4.2312214389178235,
  'Withdrew_Std': 4.210703214773998,
  'Total_Adoption': np.float64(13.218906132340507)},
 {'Country_Code': 'UGA',
  'Country_Name': 'Uganda',
  'Sent_Money_Mean': np.float64(20.102361193712074),
  'Withdrew_Money_Mean': np.float64(19.772433254878248),
  'Adoption_Gap': np.float64(0.3299279388338263),
  'Sent_Std': 3.206329389617043,
  'Withdrew_Std': 4.786428699487867,
  'Total_Adoption': np.float64(19.93739722429516)},
 {'Country_Code': 'ZAF',
  'Country_Name': 'South Africa',
  'Sent_Money_Mean': np.float64(8.86650152598559),
  'Withdrew_Money_Mean': np.float64(7.96845966813597),
  'Adoption_Gap': np.float64(0.8980418578496208),
  'Sent_Std': nan,
  'Withdrew_Std': nan,
  'Total_Adoption': np.float64(8.41748059706078)},
 {'Country_Code': 'ZMB',
  'Country_Name': 'Zambia',
  'Sent_Money_Mean': np.float64(26.79711956829297),
  'Withdrew_Money_Mean': np.float64(24.497050965635385),
  'Adoption_Gap': np.float64(2.3000686026575856),
  'Sent_Std': 4.140712731272379,
  'Withdrew_Std': 3.3805461886054484,
  'Total_Adoption': np.float64(25.647085266964176)},
 {'Country_Code': 'ZWE',
  'Country_Name': 'Zimbabwe',
  'Sent_Money_Mean': np.float64(12.857977446094903),
  'Withdrew_Money_Mean': np.float64(14.04329776035794),
  'Adoption_Gap': np.float64(-1.185320314263036),
  'Sent_Std': 6.1163526365159555,
  'Withdrew_Std': 6.12147961918702,
  'Total_Adoption': np.float64(13.450637603226422)}]

In [36]:
regional_stats

                       Total_Adoption             Adoption_Gap
                                 mean   std count         mean
Region
Other                           15.59  6.85    10        -0.14
South & Southeast Asia           3.73  0.73     2        -0.55
Southern Africa                 19.75  0.54     2         1.45
Sub-Saharan Africa              10.98  5.98    23         0.37

In [47]:
country_df = pd.DataFrame(country_stats)
country_df = country_df.sort_values('Total_Adoption', ascending=False)

In [48]:
country_df

,Country_Code,Country_Name,Sent_Money_Mean,Withdrew_Money_Mean,Adoption_Gap,Sent_Std,Withdrew_Std,Total_Adoption
17,LSO,Lesotho,26.267483,27.108911,-0.841428,7.138384,6.623885,26.688197
35,ZMB,Zambia,26.797120,24.497051,2.300069,4.140713,3.380546,25.647085
29,SWZ,Eswatini,19.955210,20.363831,-0.408621,6.914581,7.102198,20.159520
22,NAM,Namibia,20.453276,19.813234,0.640041,8.124100,7.040284,20.133255
26,SEN,Senegal,22.602271,17.595467,5.006804,4.950064,4.070799,20.098869
33,UGA,Uganda,20.102361,19.772433,0.329928,3.206329,4.786429,19.937397
14,KEN,Kenya,20.874031,18.933732,1.940299,2.541821,1.863028,19.903881
3,BWA,Botswana,20.506559,18.241814,2.264745,7.495510,6.382249,19.374186
19,MLI,Mali,17.240209,19.392497,-2.152288,6.385796,6.400750,18.316353
11,GHA,Ghana,19.669841,14.403486,5.266355,2.453148,1.804101,17.036663
10,GAB,Gabon,17.045471,16.940829,0.104642,4.173825,3.270398,16.993150
21,MWI,Malawi,14.883919,16.519734,-1.635815,5.175183,6.290488,15.701827
20,MOZ,Mozambique,16.649236,13.246033,3.403202,7.085379,6.197427,14.947634
0,BEN,Benin,12.014316,16.280457,-4.266141,4.455091,5.413636,14.147387
36,ZWE,Zimbabwe,12.857977,14.043298,-1.185320,6.116353,6.121480,13.450638
31,TGO,Togo,11.423920,15.145780,-3.721860,5.405699,5.576722,13.284850
32,TZA,Tanzania,12.937619,13.500193,-0.562575,4.231221,4.210703,13.218906
4,CIV,Cote d'Ivoire,12.023557,13.851609,-1.828052,4.694736,4.310681,12.937583
5,CMR,Cameroon,13.293350,12.440052,0.853298,4.854154,4.662407,12.866701
16,LBR,Liberia,11.158575,13.216684,-2.058109,4.149060,4.825225,12.187630
1,BFA,Burkina Faso,12.289291,11.377483,0.911808,4.973838,4.009134,11.833387
7,COG,"Congo, Rep.",9.642036,11.428864,-1.786828,NaN,3.725313,10.535450
27,SLE,Sierra Leone,11.896469,8.308509,3.587959,6.410987,NaN,10.102489
28,SSA,Sub-Saharan Africa (excluding high income),10.196532,9.755269,0.441262,2.317385,NaN,9.975901
25,PAK,Pakistan,8.377384,8.458220,-0.080836,NaN,NaN,8.417802
34,ZAF,South Africa,8.866502,7.968460,0.898042,NaN,NaN,8.417481
6,COD,"Congo, Dem. Rep.",8.527832,8.231409,0.296423,NaN,NaN,8.379620
24,NGA,Nigeria,7.497454,6.715938,0.781516,NaN,NaN,7.106696
13,GMB,"Gambia, The",7.620636,6.243973,1.376663,NaN,NaN,6.932304
18,MDG,Madagascar,5.593061,5.857038,-0.263977,NaN,NaN,5.725049
12,GIN,Guinea,4.581125,5.366041,-0.784916,NaN,NaN,4.973583
2,BGD,Bangladesh,3.411480,5.077890,-1.666410,NaN,NaN,4.244685
15,KHM,Cambodia,3.486432,2.925244,0.561188,NaN,NaN,3.205838
8,COM,Comoros,3.089393,2.968120,0.121273,NaN,NaN,3.028756
9,ETH,Ethiopia,2.464183,2.358715,0.105468,NaN,NaN,2.411449
30,TCD,Chad,2.396875,1.590663,0.806212,NaN,NaN,1.993769
23,NER,Niger,1.127031,1.044246,0.082785,NaN,NaN,1.085638

In [49]:
# Define regions based on country codes (simplified)
def get_region(country_code):
    if country_code in ['BEN', 'BFA', 'CIV', 'CMR', 'TCD', 'COD', 'COG', 'COM', 'ETH', 'GHA', 'GIN', 'KEN', 'MDG', 'MLI', 'MOZ', 'NER', 'NGA', 'RWA', 'SEN', 'SLE', 'TGO', 'UGA', 'ZAF', 'ZWE']:
        return 'Sub-Saharan Africa'
    elif country_code in ['BGD', 'KHM', 'IDN', 'LAO', 'MMR', 'PHL', 'THA', 'VNM']:
        return 'South & Southeast Asia'
    elif country_code in ['BWA', 'NAM']:
        return 'Southern Africa'
    elif country_code in ['HTI', 'JAM']:
        return 'Caribbean'
    else:
        return 'Other'

country_df['Region'] = country_df['Country_Code'].apply(get_region)

In [50]:
# Regional statistics
regional_stats = country_df.groupby('Region').agg({
    'Total_Adoption': ['mean', 'std', 'count'],
    'Adoption_Gap': 'mean'
}).round(2)

print('\n REGIONAL BREAKDOWN:')
print(regional_stats)

 REGIONAL BREAKDOWN:
                       Total_Adoption             Adoption_Gap
                                 mean   std count         mean
Region
Other                           15.59  6.85    10        -0.14
South & Southeast Asia           3.73  0.73     2        -0.55
Southern Africa                 19.75  0.54     2         1.45
Sub-Saharan Africa              10.98  5.98    23         0.37